@font-face {
		font-family: 'Ai Writer Mono';
		src: url('https://raw.githubusercontent.com/memementoo/notion_widgets/blob/main/week_counter/iAWriterMonoS-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
	}
	@font-face {
		font-family: 'Ai Writer Mono Bold';
		url('https://raw.githubusercontent.com/memementoo/notion_widgets/blob/main/week_counter/iAWriterMonoS-Bold.ttf') format('truetype');
		font-weight: 400;
		font-style: bold;
	}
