@font-face {
	font-family: 'Ai Writer Mono';
	src: url('../fonts/iAWriterMonoS-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Ai Writer Mono Bold';
	url('../fonts/iAWriterMonoS-Bold.ttf') format('truetype');
	font-weight: 400;
	font-style: bold;
}
